.addTaskInput{
    padding: 5px;
    flex: 1;
}
.addTaskInput:focus{
    outline: none;
    border-color: #f0c14b;
    box-shadow: 0 0 4px 0px #f0cd74;
}
form{
    display: flex;
    justify-content: space-between;
}
button{
    background:#f0c14b;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #e1dede; 
    border-radius: 3px; 
    padding: 5px 10px; 
    margin-bottom: 5px; 
    color: #3c0303
}
h2{
    text-align: center; 
    margin-bottom: 20px; 
    color: #5353af; 
    border-bottom: 1px solid #e1dede;
    padding-bottom: 15px 
}
.container{
    border: 2px solid grey;
    border-radius: 3px; 
    padding: 20px;
    background-color: #fff;
    width: 450px;
}
.toEditInput{
    position: absolute;
}
.tasks{
    overflow-wrap: anywhere;
}
.toEdit{
    margin-left: 10px;
}
.toEditInput{
    padding: 4px;
}